<a href="/posts/<%= @post.id %>"><h2>
<%= @post.title %></h2></a> 
<%= @post.created_at %>
<div class="post-body">
	<%= @post.link_url %>
	</br>
	<%= @post.body %>
</div>

<div><h4>
Up Vote <%= @post.up_votes%>
</br>
	Down Vote <%=@post.down_votes%></h4></div>


<form action="/posts/<%=@post.id%>/upvote" method="post">
<input type="submit" name="up_vote" value="up_vote" />
</form>

<form action="/posts/<%=@post.id%>/downvote" method="post">
<input type="submit" name="down_vote" value="down_vote" />
</form>

<a href='/posts/comment/new'>Create Comment</a>
	
	<% @post.comments.each do |comment|%>
	Author: <%= comment.author%> 
	</br><%= comment.body%>
	</br></br>
	<% end %>

