<form action="/posts/<%= @post.id %>/update" method="post">

<div>Title: <input type="text" name="title" value="<%= @post.title %>"/></div>

<div>Link: <input type="text" name="image_url" value="<%= @post.link_url %>"/></div>

<div>Body: <textarea name="body" cols="60" rows="10">
		<%= @post.body %> </textarea></div>

<div>Up Vote: <input type="text" name="up_vote" value="<%= @post.up_vote %>"/></div>

<div>Down Vote: <input type="text" name="down_vote" value="<%= @post.down_vote %>"/></div>

<button type="submit">Update Post</button>
</form>

